<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>network2Nslonger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3814A6381CC9D6C100D662E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3814A6511CC9D6C100D662E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3814A65C1CC9D6C100D662E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
